<div class="form-floating mb-3">
    <input type="email" class="form-control" id="email_field" placeholder="ali@gmail.com">
    <label for="email_field">البريد الإلكتروني</label>
</div>

<div class="form-floating mb-3">
    <input type="text" class="form-control" id="name-field" placeholder="محمد أحمد علي">
    <label for="name_field">الإسم كاملا</label>
</div>

<div>
    <label>إسم البرنامج الذي تريد التسجيل فيه</lable>
    <select class="form-select form-select-lg mb-3 mt-3">
        <option value='programming-beginner'>برنامج أساسيات البرمجة</option>
        <option value='flutter-beginner'>برنامج تطوير التطبيقات بإستخدام فلتر</option>
        <option value='sql-beginner'>برنامج تحليل البينات بإٍستخدام SQL</option>

    </select>
</div>
