<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>
        <title>تسجيل برامج كود_ سودان</title>
        {% load static %}  
        <link href="{% static 'css/bootstrap.rtl.min.css' %}" rel="stylesheet">
  
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </head>
    <body>
        <div class="container-sm">
            {% block body %}
            {% endblock %}
     
    {% if user.is_authenticated %}         
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        See User
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">User</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {{user.first_name}}
            </div>
          </div>
        </div>
      </div>


    
    {% endif %} 
</div>    
    </body>
</html>