{% extends "registration/layout.html" %}

{% block body %}
    <div class="d-grid gap-3 me-5 mt-5 ms-5">
        {% if error_message %}
            <p> {{ error_message }} </p>
        {% endif %}
        <h1>التسجيل</h1>
        <form action="{% url 'registration:login' %}" method='POST'>
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary">تسجيل الدخول</button>
            <br>
            <a href="{% url 'registration:register_student' %}">التسجيل</a>

        </form>
    </div>
{% endblock %}

