{% extends "registration/layout.html" %}

{% block body %}
{% load static %} 


<h3 class="mb-4 pb-2 pb-md-0 text-center">
    <img src="{% static '/img/logo.png' %}" alt="" width="250">
</h3>
<form action="{% url 'registration:login' %}" method='POST'>
    {% csrf_token %}
    <div class="row">
        <div class="md-6 mb-4 d-flex justify-content-center">
            <div class="form-outline text-center">
                <label class="form-label">{{ form.username.label }}</label>
                <div>
                    {{form.username}}
                </div>
                <div class="form-text">{{form.username.help_text}}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="md-6 mb-4 d-flex justify-content-center">
            <div class="form-outline text-center">
                <label class="form-label">{{form.password.label}}</label>
                <div class="text-center" >
                    <center>{{form.password}}</center>
                    
                </div>
                <div class="form-text">{{form.password.help_text}}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="md-6 mb-4 d-flex justify-content-center">
            <div class="mt-4 pt-2">
                <button type="submit" class="btn btn-primary">تسجيل الدخول</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}