{% extends "registration/layout.html" %}
{% block body %}
{% load static %} 
<div class="container px-4">
    <div class="row">
        <div class="col-md-5 gy-5">
          <img src="{% static '/img/enjoying.png' %}" class="img-fluid" alt="...">
        </div>
        <div class="col-md-7 gy-5 justify-content-center align-items-center">
            <p class="">
                سجل الآن لبرنامج {{program_name_arabic}}
            </p>
            <a class="btn btn-outline-primary btn-lg" href="{% url 'registration:program_enrollment' %}" role="button">سجل الآن</a>
        </div>
    </div>

    <div class="card text-center mb-5">
      <div class="card-header">
        مميزات برامج كود_ سودان
      </div>
      <div class="card-body">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static '/img/features/1.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static '/img/features/2.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static '/img/features/3.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static '/img/features/4.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static '/img/features/5.jpg' %}" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">السابق</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">التالي</span>
          </button>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">النسخة الأساسية</h5>
            <p class="card-text">رسوم النسخة الأساسية <b>10,000</b> جنيه</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">النسخة الذهبية</h5>
            <p class="card-text">رسوم النسخة الذهبية <b>15,000</b> جنيه</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col gy-5">
          <h1>
            مميزات النسخة الأساسية - 10,000 جنيه
          </h1>
          <br>
          <h4>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">كل برامجنا أونلاين فممكن تتابعنا من أي مكان و أي زمان</li>
              <li class="list-group-item">كل المدرسيين عندهم خبرة عملية في البرامج البدرسوها</li>
              <li class="list-group-item">محاضرات لايف مع مدرسين سودانيين وذوي خبرة في مجال البرمجة.</li>
              <li class="list-group-item">العمل على مشاريع صغيرة + مشروع تطبيق كامل.</li>
              <li class="list-group-item">تسجيل لكل المحاضرات لتفادي سوء الإنترنت وانقطاع الكهرباء.</li>
              <li class="list-group-item">شهادة إكمال البرنامج من كود_ سودان.</li>
              <li class="list-group-item">مجتمع متفاعل ومحفز على التعلم.</li>
            </ul>
          </h4>
      </div>
      <div class="col-md-6 gy-5">

      

        {% if program_code == "ITP" %}
        <img src="{% static '/img/itp_curriculum.jpg' %}" class="img-fluid" alt="...">
        {% elif program_code == "MDF" %}
        <img src="{% static '/img/mdf_curriculum.png' %}" class="img-fluid" alt="...">
        {% endif %}
    </div>

    <div class="row">
      <div class="col-md-6 gy-5">

        {% if program_code == "ITP" %}
        
        {% elif program_code == "MDF" %}
        
        {% endif %}
    </div>
      <div class="col gy-5">
          <h1>
            مميزات النسخة الذهبية - 15,000 جنيه
          </h1>
          <br>
          <h4>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">كل مميزات النسخة الأساسية.</li>
              <li class="list-group-item">تعلم استعمال أدوات جانبية مساعدة في البرمجة Discord + Google Calendar.</li>
              <li class="list-group-item">تسجيل مجاني لأي كورس على منصة كود_ سودان التعليمية.</li>
            </ul>
          </h4>
      </div>
      

</div>

<br>

{% endblock %}
