{% extends "registration/layout.html" %}

{% block body %}
    <div class="d-grid gap-3 me-5 mt-5 ms-5">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">شكرا جزيلا لتسجيلكم في كود_ سودان</h4>
            <p>تم إكمال تسجيلكم في برامج كود_ سودان، كل تيم كود_ سودان بيتمنى ليكم رحلة تعليمية سعيدة و تستفيدوا للحد الأقصى من البرنامج.</p>
            <hr>
            <p class="mb-0">يمكنكم الدخول لقروب البرنامج على من هنا</p>
          </div>
    </div>
{% endblock %}