{% extends "registration/layout.html" %}

{% block body %}
    <div class="d-grid gap-3 me-5 mt-5 ms-5">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">شكرا جزيلا لتسجيلكم في كود_ سودان</h4>
            <p>تم إكمال تسجيلكم في برامج كود_ سودان، كل تيم كود_ سودان بيتمنى ليكم رحلة تعليمية سعيدة و تستفيدوا للحد الأقصى من البرنامج.</p>
            <hr>
            <p class="mb-0"> يمكنكم الآن التواصل معنا عبر الواتس للدخول لقروب البرنامج<a href="https://wa.me/message/HUWJ5XBW5CMCD1">من هنا</a></p>
            <br>
            <div class="col-md-12">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfX5aUMVBk1zEVXSU0P1XZ8ldqhG1VfiFgR4a5TXHA84XQVyg/viewform?embedded=true" class="col-md-12" height="1137"  frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
            
          </div>
    </div>
{% endblock %}